@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:wght@200&display=swap');

header{
  display: grid;
  grid-template-columns: 150px auto;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  width: 100%;
}

#home-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: 20px;
}

#home-grid img{
  width: 100%;
}

/*text*/
.text p {
font-size: 35px;
font-family: "Helvetica" , "Arial"; 
}

.text h2 {
font-size: 60px;
font-family: "Montserrat Alternates";
}

.text {
  background-color: #C66E4E;
  margin-left: 10%;
  margin-right: 10%;
  border: 65px solid #EEE1C6;
  margin-top: 160px;
  margin-bottom: 160px;
  text-align: center;
}

.text3 {
  opacity: .7;
  font-size: 60px;
  margin-top: -300px;
  z-index: 1;
  text-shadow:2px 2px #EEE1C6;
}









footer {
  width: 100%;
  display: flex;

  justify-content: space-around;
  align-items: center;
  margin-top: 100px;

}

footer a {
  text-decoration: none;
}

footer.social img {
  padding-top: 15px;
}

.med_img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/*Header*/

header {
  background-color: #EEE1C6;
  

}

nav a {
color: black;
}

/*footer*/
footer {
  background-color: #EEE1C6;
  color: black;
}

footer a {
  color: black;
}


/*FAQ*/
#dog {
  width: 100%;
}


/*Yoga Peace Group*/

#grid-img {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr ;


 

}

#grid-img img {
  width: 400px;
  margin: -35;
  border: 50px solid #EEE1C6; 
 
}

#tree {
grid-column: 1/2;
grid-row: 1/2;
width: 400px;
}

#side_twist {
grid-column: 2/3;
grid-row: 2/3;
width: 400px;

}


#med2 {
grid-column: 1/2;
grid-row: 3/4;  
width: 400px;
}


.tree {
grid-column: 2/3;
grid-row: 1/2;
text-align: center;


}

.side_twist {
grid-column: 1/2;
grid-row: 2/3;  
text-align: center;

}

.med2 {
grid-column: 2/3;
grid-row: 3/4;
text-align: center;
height: 100%;
width: 100%;
}
.txt-div {
border: 50px solid #C66E4E; 
background-color:  #EEE1C6; 
color:  black;


}

main p {
  margin: 75px;
  font-size: 35px;
}

main h2 {
  font-size: 60px;
}

#dark {
  width: 100%;
}
